<br>
<a class="back-btn" href="/topics/<%= @comment.topic_id %>">Back</a>
<br>

<div class="edit-container">
  <h2> Current Comment: </h2>

    <div class="comment-content">
      <%= Markdown.new(@comment.content).to_html%>
    </div>

<div class="edit-form">

  <h3> Edit below </h3>

  <form method="post" action="/topics/<%= @topic.id %>/comments/<%= @comment.id %>/edit">

      <input type="hidden" name="_method" value="patch">
      <textarea name="content" cols="100" rows="10"><%= @comment.content %></textarea>
      <br>
      <button> Save </button>
      
  </form>

  <br>

  <!-- DELETE COMMENT -->
  <form method="post" action="/topics/<%= @topic.id %>/comments/<%= @comment.id %>">
    <input type="hidden" name="_method" value="delete">
    <button> Delete Comment </button>
  </form>

</div> <!-- edit form -->
</div> <!-- edit container -->