
<a href="/topics"> Back to Topics </a>

<div id="topic-container">
  <h2><%= @topic.title %></h2>
  <a href="/users/<%=@topic.user_id%>"> <%= @created_by %> </a>

  <div id="topic-content">
    <p> <%= @topic.content %> </p>

  </div> <!--content-->


  <!-- COMMENTS -->
  <div id="comments-container">

    <h3>Comments:</h3>

    <% if @comment %>

      <a href="/users/<%=@comment.user_id%>"> <%= @comment.user.username %> </a>
      <p> At: <%= @comment.pretty_time %> </p>
      <p> <%= @comment.content %> </p>

    <% else %>

      <% @comments.each do |comment| %>

        <a href="/users/<%=comment.user_id%>"> <%= comment.user.username %> </a>
        <p> At: <%= comment.pretty_time %> </p>
        <p> <%= comment.content %> </p>

      <% end %> <!-- .each -->

    <% end %> <!-- if/else -->

    

    <!-- NEW COMMENT FORM  -->
    <!-- Seen only by someone logged in -->
    <% if @user %>
      <h3> Add Comment: </h3>
      
      <form method="POST" action="/comments/<%= @topic.id %>/new">

        <p> Write Your Post Below </p>
        <textarea name="content" cols="100" rows="20"></textarea>
        <br>
        <input type="submit" value="Add Comment">

      </form>

    <% else %>

      <h3> Want to join the conversation? <a href="/"> Log In! </a> </h3>

    <% end %>


  </div> <!--comments-container-->

</div><!--topic-container-->














