<br>

<div class="topic-container">

  <h2> <%= @topic.title %> </h2>

  <a href="/users/<%=@topic.user_id%>"> <%= @topic.user.username %> </a>

  <p class="topic-content">  <%= @topic.content %> </p>

  <!-- EDIT TOPIC -->
  <!-- only seen by user who created it -->
  <% if @topic.user_id == session[:user_id] %>
    <a href="/topics/<%= @topic.id %>/edit"> Edit </a>
  <% end %>



  <!-- COMMENTS -->
  <!-- Need if/else because .each does not work if there is only one comment -->
  <div class="comments-container">

    <h2>Comments:</h2>

    <% if @comment %>

      <div class="comment-container">

        <a href="/users/<%=@comment.user_id%>"> <%= @comment.user.username %>: </a>
        <p><strong> At: </strong> <%= @comment.pretty_time %> </p>
        <p class="class-content"> <%= @comment.content %> </p>
        
        <!-- EDIT COMMENT -->
        <!-- only seen by user who created comment-->
        <% if @comment.user_id == session[:user_id] %>
          <br>
          <a href="/topics/<%= @topic.id %>/comments/<%= @comment.id %>/edit"> Edit </a>
        <% end %>

        <div class="likes-div">

          <p><strong> Likes: </strong> <%= @comment.like_count %> </p>


          <!-- LIKE COMMENT BUTTON -->
          <!-- Only logged in users can like-->
           <% if @user %>

              <form method="post" action="/topics/<%= @topic.id %>/comments/<%= @comment.id %>/likes">
              <button>Like</button>
              </form>

            <% end %>

          </div> <!--likes div -->



      </div> <!--comment container -->

    <% else %>


      <% @comments.each do |comment| %>

        <div class="comment-container">

          <a href="/users/<%=comment.user_id%>"> <%= comment.user.username %>: </a>
          <p><strong> At: </strong> <%= comment.pretty_time %> </p>
          <p class="comment-content"> <%= comment.content %> </p>
          
          <!-- EDIT COMMENT -->
          <!-- only seen by user who created comment-->
          <% if comment.user_id == session[:user_id] %>
            <br>
            <a href="/topics/<%= @topic.id %>/comments/<%= comment.id %>/edit"> Edit </a>
          <% end %>

          <div class="likes-div">

            <p><strong> Likes: </strong> <%= comment.like_count %> </p>


            <!-- LIKE COMMENT -->
            <!-- Only logged in users can like-->
            <% if @user %>

              <form method="post" action="/topics/<%= @topic.id %>/comments/<%= comment.id %>/likes">
              <button>Like</button>
              </form>

            <% end %>

          </div> <!-- likes div -->

        </div> <!-- comment container -->

      <% end %> <!-- .each -->

    <% end %> <!-- if/else -->

    


    <!-- NEW COMMENT FORM  -->
    <!-- Seen only by someone logged in -->
    <% if @user %>
     
     <div class="add-comment">
      <h3> Add Comment: </h3>

      <form method="post" action="/topics/<%= @topic.id %>/comments/new">

        <p> Write Your Post Below </p>
        <textarea name="content" cols="100" rows="10"></textarea>
        <br>
        <button>Add Comment</button>

      </form>

    <% else %>

      <h3> Want to join the conversation? <a id="comment-login" href="#"> Log In! </a> </h3>

      </div>

    <% end %>


  </div> <!--comments-container-->

</div><!--topic-container-->












