
<!-- list topics; will be ordered based on vote via server -->
<% @topics.each do |topic| %>

  <h2>
    <a href="topics/<%=topic.id%>">
    <%= topic.title %> </a>
  </h2>

  <p> By: 
    <a href="users/<%= topic.user_id%>">
    <%= topic.user.username %> </a>
  </p>

  <form method="POST" action="/topics/<%=topic.id%>/votes">
    <button>Vote up!</button>
  </form>

  <p> Created: <%= topic.pretty_time%> </p>

<% end %>

<!-- Link to New Topic form; only seen if user is logged in -->
<% if @user %>
  <a href="/topics/new">Create a New Topic</a>
<% end %>

<br>

<a href="/users"> Fantastic Peeps </a>

<br>

<a href="/"> Home </a>