<br>
<a class= "back-btn" href="/topics/<%= @topic.id %>"> Back </a>

<!-- TOPIC in its current form -->
<div class="topic-container">

  <h2><%= @topic.title %></h2>

  <div class="topic-content">
      <%= Markdown.new(@topic.content).to_html%>
  </div> 

  <div class="edit-form">

  <h3> Edit below </h3>

<!-- EDIT FORM -->
<form method="post" action="/topics/<%= @topic.id %>/edit">

  <input type="hidden" name="_method" value="patch">

  <label for="title"> <strong> Title: </strong> </label>
  <br>
  <textarea name="title" cols="100" rows="1"><%= @topic.title %></textarea>

  <br>

  <label for="content"> <strong> Content: </strong> </label>
  <br>
  <textarea name="content" cols="100" rows="20"><%= @topic.content %></textarea>

  <br>

  <button> Save </button>

</form>

<br>


<!-- DELETE BUTTON -->
<form method="post" action="/topics/<%= @topic.id %>">
  <input type="hidden" name="_method" value="delete">
  <button>Delete</button>
</form>

</div>

</div> <!--topic-container-->







